
doctype html
html
    head
        meta(charset="utf-8")
        p(style="text-align:center;")
            a(href='/')
                img(width="150px" height="120px" src="/logo.png") 
    body
        form( method='get' action='/register' style="text-align:center;")
            h6 비밀번호를 확인해주세요
            input(type="submit" name="login" value="이전 페이지로")
           

