doctype html
html
    head
        meta(charset="utf-8")
        title 회원가입 완료!

        h1(style="text-align:center;") 회원가입이 완료 되었습니다.
   body
        form(action='/' style="text-align:center;")
            input(type="submit" value="홈으로" style="height: 100px; width:100px;")
